@mixin screen-xx-small {
    @media(max-width: 275.98px) {
        @content;
    }
}

@mixin screen-x-small {
    @media(min-width: 276px) {
        @content;
    }
}

@mixin screen-small {
    @media(min-width: 576px) {
        @content;
    }
}

@mixin screen-medium {
    @media(min-width: 768px) {
        @content;
    }
}

@mixin screen-large {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin screen-x-large {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin screen-xx-large {
    @media (min-width: 1400px) {
        @content;
    }
}

// --------------------------------------------------- //
// --- FLEX ----------------------------------------- //
// ------------------------------------------------- //
@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

@mixin flex-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@mixin flex-start-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-end-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@mixin flex-start-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-between-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-around-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-between-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-around-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-wrap-center-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}




@mixin link-transition {
    transition: color 0.2s ease;
}

@mixin btn-bs-1 {
    box-shadow: 0 0 0.2rem var(--wt) inset, 0 0 1rem var(--bk-20);
}

@mixin btn-style {
    outline: none;
    padding: var(--gap-1-2) var(--gap-1);
    font-weight: bold;
    text-transform: to-upper-case($string: "");
    white-space: nowrap;
    transition:
        0.2s background-color ease,
        0.2s color ease;
}

@mixin btn-style-1 {
    color: var(--btn-color-1);
    background-color: var(--btn-bg-1);
    background-color: transparent;
    border: none;
    outline: none;
    padding: var(--gap-1-2);
    white-space: nowrap;
    cursor: url("@/assets/images/cursors/cursor_pointer.png"), auto;
    transition:
        // var(--anim-duration-1) transform ease-in-out,
        var(--anim-duration-1) background-color ease-in-out, var(--anim-duration-1) color ease-in-out;
}

@mixin btn-style-1-active {
    background-color: var(--btn-bg-1-active);
    color: var(--btn-color-1-active);
}

@mixin btn-style-1-disabled {
    background-color: var(--btn-bg-1-disabled);
    color: var(--btn-color-1-disabled);
}

@mixin btn-style-1-hover {
    background-color: var(--btn-bg-1-hover);
    color: var(--btn-color-1-hover);
}

@mixin btn-style-2 {
    color: var(--btn-color-1);
    background-color: var(--btn-bg-1);
    border: solid var(--border-sz-1) transparent;
    outline: none;
    padding: var(--gap-1-2);
    white-space: nowrap;
    cursor: url("@/assets/images/cursors/cursor_pointer.png"), auto;
    transition:
        // var(--anim-duration-1) transform ease-in-out,
        var(--anim-duration-1) background-color ease-in-out, var(--anim-duration-1) color ease-in-out;
}

@mixin btn-style-2-active {
    background-color: var(--btn-bg-1-active);
    color: var(--btn-color-1-active);
    // font-weight: bold;
    border: solid var(--border-sz-1) var(--bk-30);
}

@mixin btn-size-medium {
    min-width: 1rem;
    min-height: 1rem;
    font-size: 0.95em;
    line-height: 0;
}

// --------------------------------------------------- //
// --- ANIMATIONS ----------------------------------- //
// ------------------------------------------------- //
@mixin show-anim-1 {
    animation: show-anim-1 var(--anim-duration-2) ease-in-out forwards;

    @keyframes show-anim-1 {
        0% {
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
        }

        70% {
            transform: scale(1.05);
        }

        90% {
            transform: scale(0.95);
        }

        100% {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }
}

@mixin hide-anim-1 {
    animation: hide-anim-1 var(--anim-duration-2) ease-in-out forwards;

    @keyframes hide-anim-1 {
        0% {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }

        15% {
            transform: scale(1.05);
        }

        100% {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.75);
        }
    }
}

@mixin show-anim-2 {
    animation: show-anim var(--anim-duration-2) ease-in-out forwards;

    @keyframes show-anim {
        0% {
            visibility: hidden;
            opacity: 0;
        }

        100% {
            visibility: visible;
            opacity: 1;
        }
    }
}

@mixin hide-anim-2 {
    animation: hide-anim var(--anim-duration-2) ease-in-out;

    @keyframes hide-anim {
        0% {
            visibility: visible;
            opacity: 1;
        }

        100% {
            visibility: hidden;
            opacity: 0;
        }
    }
}

@mixin fade-out-anim-1 {
    animation: fade-out-anim-1 5s ease-in-out;

    @keyframes fade-out-anim-1 {
        0% {
            visibility: visible;
            opacity: 1;
        }

        70% {
            visibility: visible;
            opacity: 1;
        }

        100% {
            visibility: hidden;
            opacity: 0;
        }
    }
}



@mixin display-page-anim {
    animation: display-page-anim 0.5s forwards;
    @keyframes display-page-anim {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

// --------------------------------------------------- //
// --- ANIMATIONS ----------------------------------- //
// ------------------------------------------------- //
@mixin box-shadow-1 {
    box-shadow:
        0 0 0.5rem var(--bk-20),
        inset 0 0 0.2rem var(--wt-100);
}

@mixin inner-btn-box-shadow-1 {
    box-shadow:
        0 0 0.2rem var(--bk-10),
        inset 0 0 0.1rem var(--wt-100);
}

//
// @mixin text-shadow-1 {
//     // font-size: 1.75rem;
//     text-shadow: 1px 1px 1px var(--wt-30),
//         1px -1px 1px var(--wt-30),
//         -1px -1px 1px var(--wt-30),
//         -1px 1px 1px var(--wt-30);
// }

//
@mixin text-shadow-1 {
    // font-size: 1.75rem;
    text-shadow: 1px 1px 1px var(--wt-30),
        1px -1px 1px var(--wt-30),
        -1px -1px 1px var(--wt-30),
        -1px 1px 1px var(--wt-30);
}
@mixin text-shadow-2 {
    --shadow-color: var(--wt-60);
    --shadow-size: 2px;
    --text-shadow-1:
    var(--shadow-size) var(--shadow-size) var(--shadow-size) var(--shadow-color),
    var(--shadow-size) calc(-1 * var(--shadow-size)) var(--shadow-size) var(--shadow-color),
    calc(-1 * var(--shadow-size)) calc(-1 * var(--shadow-size)) var(--shadow-size) var(--shadow-color),
    calc(-1 * var(--shadow-size)) var(--shadow-size) var(--shadow-size) var(--shadow-color);
    text-shadow: var(--text-shadow-1);
}

//
@mixin show-in-anim {
    opacity: 1;
    visibility: visible;
    transition:
      transform 0.1s ease,
      opacity 0.1s ease,
      visibility 0.1s ease;
}
@mixin show-out-anim {
    opacity: 0;
    visibility: hidden;
    transition:
      transform 0.1s ease,
      opacity 0.1s ease,
      visibility 0.1s ease;
}
